DATASET_URI=s3://<bucket-name>/<dataset-key>
S3_BUCKET=<bucket-name>
MATRIX_URI=s3://<bucket-name>/<matrix-key>
AWS_REGION=<aws-region>
API_KEY=<your-api-key>
USUARIO_ADMIN=<admin-user>
PASSWORD_ADMIN=<admin-password>