# Entorno virtual
.venv/
.FP_env/
FP_env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Variables de entorno y credenciales
.env
.env.*

# Visual Studio Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Datos locales generados
data/raw/*
data/interim/*
data/processed/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Sistema operativo
.DS_Store
Thumbs.db
!.env.example

# Power BI Desktop - archivos locales
**/.pbi/localSettings.json
**/.pbi/cache.abf
